*.DS_Store
*~
*#
main
.vscode/launch.json
*/a.out.dSYM/Contents/Resources/DWARF/a.out
*/a.out.dSYM/Contents/Info.plist
*/a.out
BSQ/outputs/*
BSQ/bsq
BSQ/outputs/output.txt
*.vscode/c_cpp_properties.json
